@media (max-width:880px){
    .col-3{
        display: block;
    }
    .col-3 div{
        margin-bottom: 30px;
    }
}
@media(max-width:620px){
    /** navbar */
    #navbar .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        margin: auto;
    }
    #navbar .nav-items{
        display: flex;
        justify-content: center;
        padding: 0px;
    }
    #navbar .logo{
        display: flex;
        justify-content: center;
    }
    #navbar ul li{
        padding: 5px 15px;
        display: block;
    }
    .hide{
        display: none;
    }
}
@media(max-width:375px){
    #navbar ul{
        display: block;
        margin: 0px;
        text-align: center;
    }
    #landing .container .main-content{
        justify-content: unset;
        align-items: center;
        text-align: center;
    }
}